body {
	background: yellow;
}

h1{
	text-align: center;
}

#desc {
	width: 600px;
	margin: 30px;

}

table {
	border-top: 4px solid green;
	border-right: 4px solid green;
	border-left: 4px solid green;
	border-bottom: 4px solid green;
}

th {
	color: grey;
}

.mm {
	color: red;
}

.nm {
	color: blue;
}